@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html,
body {
  height: 100%;
  background: linear-gradient(to bottom, #000000 0%, #171717 100%);
  margin: 0;
}

.container {
  max-width: 225px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.button {
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  color: #e55643;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.button span {
  display: block;
  float: left;
  transform: skew(-10deg);
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;
}

h1,
h2,
h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: 5px;
}

h3 {
  font-size: 35px;
}

.rainbow-lr,
.rainbow-td {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  color: transparent;
  background-clip: text;
}

.title {
  position: relative;
  transform: translateX(-50%) rotate(-10deg);
  display: inline-block;
  margin-right: 5px;
}

.title span {
  display: block;
  float: left;
  min-width: 10px;
  min-height: 10px;
  transform: skew(-10deg);
  text-shadow: #696868 1px 2px, #696868 2px 2px, #696868 3px 3px, #696868 4px 4px, #696868 5px 5px, #696868 6px 6px;
}

.title:nth-child(1),
.title:nth-child(2),
.title:nth-child(3),
.title:nth-child(4) {
  color: #fff;
}

.title2 {
  position: absolute;
  bottom: -390px;
  left: 120px;
}
